<script src="{{"js/swirly.min.js" | relURL}}" defer></script>
<script>
  function ready(fn) {
    if (document.readyState != 'loading') {
      fn();
    } else {
      document.addEventListener('DOMContentLoaded', fn);
    }
  }
  ready(() => Array.from(document.querySelectorAll(".swirly")).forEach((container, i, a) => {
    const timer = setInterval(() => {
        if (typeof MathJax != undefined && typeof Swirly !== undefined) {
        const swirly = new Swirly();
        const spec = swirly.parse(container.innerText);
        const diagram = swirly.render(spec);
        swirly.drawSVG(container, diagram);
        Array.from(document.querySelectorAll("div.swirly svg")).forEach((svg, i, a) => {

          svg.setAttribute("width", "100%");
          svg.setAttribute("height", "100%");

          svg.querySelectorAll("text").forEach(text => {
            const foreign = document.createElementNS('http://www.w3.org/2000/svg',"foreignObject");
            const parent = text.parentElement;
            const pbbox = parent.getBBox();
            const bbox = text.getBBox();
            foreign.setAttribute('width', bbox.width);
            foreign.setAttribute('height', bbox.height);
            foreign.setAttribute('dominant-baseline', 'middle');
            const x = (pbbox.width - bbox.width)/2;
            const y = pbbox.height /2;
            foreign.setAttribute('x', x);
            foreign.setAttribute('y', y);
            foreign.setAttribute('viewBox', `${x} ${y} ${bbox.width} ${bbox.height}`);
            const div = document.createElementNS('http://www.w3.org/1999/xhtml', 'div');
            div.setAttribute("xmlns", "http://www.w3.org/1999/xhtml");
            div.innerText = text.innerHTML;
            div.setAttribute("style", `width:100%; margin:0 auto; text-align:center;`);
            foreign.appendChild(div);
            text.replaceWith(foreign);
            MathJax.Hub.Queue(['Typeset', MathJax.Hub, div]);
          });

        });
        clearInterval(timer);
      }
    }, 1000);
  }));
</script>